@import "../assets/shared";

html, body {
  width: 450px;
  min-height: 300px;

  font-size: 12px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  background-color: $ff-grey-10;
}

html, body, .authenticated, .authentication {
  height: 100%;
}

.authentication {
  height: 100%;
  padding: 20px 0;
  text-align: center;

  button {
    padding: 1rem 2rem;
    background-color: $ff-blue-50;
    border: 1px solid;
    border-radius: 4px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;

    &:hover {
      background-color: $ff-blue-60;
    }

    &:active {
      background-color: $ff-blue-70;
    }
  }
}

.authenticated {
  display: flex;
  flex-direction: column;
}

.list-component {
  flex: 1;

  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: scroll;

  // Move up since the main-loader is 2px high and is moved up on 2px
  // (onto the top-actions container)
  position: relative;
  top: -2px;

  .item {
    margin: 0;
    position: relative;
    padding: 0.5rem 0.1rem 0.2rem 0.1rem;
    border-bottom: 1px solid #eee;
    height: 3.5rem;

    /* TODO: Flexbox for span + tick sizing */
    span {
      display: inline-block;
      width: 95%;
      margin-left: 0.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.1;
    }

    .title {
      height: 1.5rem;

      color: $ff-grey-70;
      font-size: 1.2rem;
      font-weight: bold;

      cursor: pointer;
    }

    .url {
      height: 1.1rem;
      position: relative;
      top: -2px;

      font-size: 0.75rem;
      color: $ff-secondary-text;

      cursor: pointer;
    }


    &:hover .title {
      color: $ff-grey-90;
    }

    overflow: hidden;
    opacity: 1;
    // second duration is the delay after which the transition must begin
    transition: height 250ms, padding 250ms, opacity 0s 200ms, border-bottom-width 0s 240ms;

    &.disappearing {
      // TODO: several classes with different colors, depending on the kind of disappearance?
      //       red for delete, green for archive?
      height: 0px;
      padding: 0;
      opacity: 0;
      border-bottom-width: 0px;
    }

    &:hover .actions-container {
      opacity: 1;
      transition: opacity 300ms ease-out;
    }

    .actions-container {
      opacity: 0;
      transition: opacity 300ms ease-out;
      z-index: 1;

      position: absolute;
      top: 0;
      right: 0;
      width: 7rem;
      height: 100%;
      background-color: transparentize( $ff-grey-20, 0.2 );
      border-left: 1px solid #ddd;

      display: flex;
      flex-direction: row;

      .tick-action, .delete-action {
        cursor: pointer;
        flex: 1;
        opacity: 0.8;

        // So that tick/loader are automatically centered
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          opacity: 1;
        }

        .icon {
          color: $ff-primary-text;
          font-size: 1.5rem;
        }

        .loader {
          height: $loader-size;
          width: $loader-size;
          animation: rotate 0.8s infinite linear;
          border-radius: 50%;
        }
      }

      .tick-action {
        &:hover {
          background-color: transparentize( $pocket-aqua, 0.4 );
        }

        .loader {
          border: 0.3rem solid #444;
          border-right-color: transparent;
        }
      }

      .delete-action {
        &:hover {
          background-color: transparentize( $pocket-red, 0.4 );
        }

        .loader {
          border: 0.3rem solid #444;
          border-right-color: transparent;
        }
      }
    }
  }
}


.search-no-results {
  flex: 1;

  width: 100%;
  margin: 0;
  padding-top: 2rem;
  text-align: center;

  font-size: 1.5rem;
  font-weight: bold;
  color: $ff-grey-80;
}


.top-actions {
  flex: initial;

  display: flex;
  flex-direction: row;
  align-items: center;

  height: 2.8rem;
  padding: 0.5rem 0;

  background-color: $pocket-aqua;

  .icon {
    flex: initial;
    display: inline-block;
    cursor: pointer;
    font-size: 1.9rem;
    color: white;

    opacity: 0.8;
    transition: opacity 200ms ease-out;

    width: 2rem;
    margin-right: 0.5rem;

    &:first-child {
      margin-left: 0.5rem;
    }

    &:hover {
      opacity: 1;
      transition: opacity 200ms ease-out;
    }

    &.random-item {
      font-weight: bold;
      margin-right: 1rem;
    }
  }

  .filter-items {
    flex: 1;
    margin-right: 3rem;
    padding: 0.4rem 1rem;
    height: 2rem;

    background-color: transparentize( white, 0.5 );
    border-radius: 2rem;
    border: 0px transparent;
    color: $ff-grey-80;
    font-size: 1.1rem;
  }
}


/*
 * Thanks to Che for this example: http://codepen.io/code_dependant/pen/ciGLA?editors=1100
 */
.main-loader {
  flex: initial;

  position: relative;
  top: -2px;
  height: 2px;
  width: 100%;
  background-color: transparent;

  &.loading:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    background-color: $pocket-red;
    left: 0%;
    right: 100%;

    animation: linear-loading 1.2s ease infinite;
  }
}

.flash-overlay {
  flex: initial;

  z-index: 3;
  display: block !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  opacity: 1;
  transition: height 200ms ease-out, opacity 200ms ease-out;

  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;

  &.error {
    background-color: transparentize($ff-red-50, 0.2);
    color: white;
  }
  &.notice {
    background-color: transparentize($notice-blue, 0.2);
    color: $ff-grey-80;
  }

  &.hidden {
    /* Needed to counter the 'display:none' of the .hidden class. Without this, the overlay
     * display goes from block to none, and is hidden all at once */
    display: block !important;

    height: 0px;
    opacity: 0;
    transition: height 250ms ease-out, opacity 0 250ms ease-out;
  }
}



.pagination {
  flex: initial;

  z-index: 2;
  height: 30px;
  line-height: 30px;
  display: flex;
  flex-direction: row;

  font-weight: bold;
  color: $ff-grey-80;

  .pagination-previous, .pagination-next {
    flex: 1;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: $ff-grey-20;
    }

    &.disabled, &.disabled:hover {
      opacity: 0.4;
    }
  }

  .pagination-current-page {
    flex: initial;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }
}
